<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        body {
            background-color: #CFEFF8;
        }

        .container {
            background-color: #ffffff;
            width: 600px;
            text-align: center;
            padding: 50px;
            margin-top: 50px;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
            border-radius: 3px;
        }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
